@font-face {
    font-family: "Lobster-Regular";
    src: url(Lobster-Regular.ttf) format("ttf");
}
.top,.neck, .body, .bottom{
    font-family: Lobster;
    color: #ffffff;
}
.container{
    width: 100vw;
    height: 100vh;
}
.container_top{
    display: flex;
    gap: 5px;
}
.container_top > div{
    width: 50%;
    height: 15vh;
    background-color: #5072A7;
}
.neck{

background-color:#6CB4EE;
width: 100%;
height: 50vh;
margin-top: 5px;

}
.body_part{
    display: flex;
    gap: 5px;
}
.body_part > div {
    width: 50%;
    height: 20vh;
    background-color: #0070BB;
    margin-top: 5px;
}
.container_bottom{
    display: flex;
    gap: 5px;
}
.container_bottom > div {
    width: 50%;
    height: 10vh;
    background-color: #367588;
    margin-top: 5px;
}
.sprite_top_left{
    background: url(./spriteimage.svg) no-repeat -422px -23px;
    background-color: #FFD700;
}
.sprite_neck{
    background: url('./spriteimage.svg') no-repeat -466px -24px;
	background-color: #FFD700;
}
.sprite_body_part1{
    background: url('./spriteimage.svg') no-repeat -401px -65px;
    background-color: #FFD700;
}
@media screen and (max-width:768px){
   .container_top{
       display: flex;
       flex-direction: column;
   }
   
    .container_top > div{
    width: 100%;
    transition: width 2s;
    transition-timing-function: ease;
    transform: rotate(180deg);
    color: #0111FF;
    background-color: #F5FF58;
   
   }
   .neck{
       height: 50%;
       transition: height 2s;
       transition-timing-function: ease;
   }
   .body_part{
    display: flex;
    flex-direction: column;
   }
   .body_part > div{
    width: 100%;
    color: ;
    transition: width 1s;
    transition-timing-function: ease;
 }
 .container_bottom{
    display: flex;
    flex-wrap: wrap;
}
.container_bottom > div{
    width: 49%;
    transition: width 1s;
    transition-timing-function: ease;
    transform: rotate(180deg);
}
.container_bottom  :hover{
    transform: rotate(30deg);
    color: #FE4300;
    background-color: #FEDA9D;
}


}
@media screen and (max-width:320px){
    .container_top{
     display: flex;
     flex-direction: column;
    }
    
    .container_top > div{
     width: 100%;
     transition: width 1s;
     transition-timing-function: ease;
     transform: rotate(360deg);
     background-color: #000000;
     color:#01FFE4 ;
       
    }
    .neck{
     height: 25%;
     transition: height 2s;
     transition-timing-function: ease;
    }
    .body_part{
        display: flex;
        flex-direction: column;
    }
    .body_part > div{
     width: 100%;
     transition: width 1s;
     transition-timing-function: ease;
  }
    .container_bottom{
     display: flex;
     flex-wrap: wrap;
 }
    .container_bottom > div{
     width: 100%;
     height: 50%;
     transition: width 2s ,height 2s;
     transition-timing-function: ease;
     transform: rotate(360deg);
 }

 }
